<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Advertisement</title>
</head>
<body>
<h1>Advertisement Details</h1>
<div>
    <p><strong>Seller Name:</strong> <span th:text="${advertisement.firstName} + ' ' + ${advertisement.lastName}"></span></p>
    <p><strong>Title:</strong> <span th:text="${advertisement.title}"></span></p>
    <p><strong>Price:</strong> <span th:text="${advertisement.price} + ' ' + kr"></span></p>
    <p><strong>Description:</strong> <span th:text="${advertisement.description}"></span></p>

    <!-- Visa bilden -->
    <div th:if="${base64Image}">
        <img th:src="${base64Image}" alt="Advertisement Image" style="max-width: 500px;">
    </div>
    <div th:if="${base64Image == null}">
        <p>No image available.</p>
    </div>
    <a th:href="@{/}">Back to Homepage</a>
</div>
</body>
</html>
