<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
</head>
<body>
<h1>Delete User</h1>
<p>This is where admin users can delete ordinary users using the user's ID</p><br>

<form th:action="@{/delete-user}" method="post">
    <label for="userId">User ID:</label><br>
    <input type="number" id="userId" name="id" required>
    <button type="submit">Delete User</button>
</form>

<br><br>

<a th:href="@{/}">Back to Homepage</a>

</body>
</html>