<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<nav class="bg-white shadow-lg p-5">
    <div class="container mx-auto flex flex-col sm:flex-row space-y-2 justify-between items-center">
        <div class="text-xl font-bold text-gray-800">Marketplace</div>
        <div class="space-x-2">
            <a class="bg-gray-700 text-white px-4 py-2 rounded hover:bg-gray-500 transition-colors" th:href="@{/}">Home</a>
            <a sec:authorize="isAnonymous()" th:href="@{/login}"
               class="text-blue-600 hover:text-blue-800 transition-colors">Sign In</a>
            <a sec:authorize="isAnonymous()" th:href="@{/register}"
               class="text-blue-600 hover:text-blue-800 transition-colors">Create Account</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/upload}"
               class="bg-gray-700 text-white px-4 py-2 rounded hover:bg-gray-500 transition-colors">List an item</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}"
               class="bg-red-600 text-white hover:bg-red-800 px-4 py-2 rounded transition-colors">Sign Out</a>
        </div>
    </div>
</nav>
<div class="container mx-auto px-4 py-8">

    <h1 class="text-3xl font-bold mb-8">Delete User</h1>
    <p class="text-gray-700 text-2xl font-semibold">Enter the ID of the user that needs to be deleted</p><br>

    <form th:action="@{/delete-user}" method="post">
        <div>
            <label for="userId" class="text-lg font-semibold mb-2">User ID</label><br>
            <input
                    type="number"
                    id="userId"
                    name="id"
                    required
                    class="border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-transparent">
        </div>
        <button class="bg-gray-700 text-white px-4 py-2 rounded hover:bg-gray-500 transition-colors mt-4" type="submit">
            Delete User
        </button>
    </form>

</div>
</body>
</html>