<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <style>
        .ad-card {
            border: 1px solid #ccc;
            padding: 20px;
            margin: 10px;
            cursor: pointer;
            transition: transform 0.2s;
        }

        .ad-card:hover {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
<a sec:authorize="isAnonymous()" th:href="@{/login}">Sign In</a>
<a sec:authorize="isAuthenticated()" th:href="@{/upload}">List an item</a>
<a sec:authorize="isAuthenticated()" th:href="@{/logout}">Sign Out</a>
<p sec:authorize="isAuthenticated()">
    Logged in as: <span th:text="${#authentication.name}"></span>
</p>
<h1>All Listings</h1>
<div th:each="ad : ${listings}"
     class="ad-card"
     th:onclick="|window.location.href='/listing/' + ${ad.id}|">
    <h3 th:text="${ad.title}"></h3>
    <p th:text="${ad.price} + ' kr'"></p>

    <!-- Iterera över alla bilder -->
    <div th:if="${ad.base64Image != null}" th:each="image : ${ad.base64Image}">
        <img th:src="'data:' + ${ad.type} + ';base64,' + ${image}"
             alt="Ad Image" style="max-width: 200px;">
    </div>
</div>
</body>
</html>
