<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listing Details</title>
    <script>
        function confirmDeletion(event) {
            console.log("Confirm box triggered");
            const confirmed = confirm("Are you sure you want to delete this listing?");
            if (!confirmed) {
                event.preventDefault();
                console.log("Deletion canceled");
            }
        }
    </script>
</head>
<body>
<h1>Listing Details</h1>
<div>

    <div th:each="image : ${base64Images}">
        <img th:src="${image}" alt="Listing Image" style="max-width: 300px;">
    </div>
    <div th:if="${base64Images == null}">
        <p>No image available.</p>
    </div>

    <h1><strong> <span th:text="${listing.title}"></span></strong></h1>
    <h3><span th:text="${listing.price} + ' ' + kr"></span></h3>
    <p><strong>Description:</strong> <br> <span th:text="${listing.description}"></span></p>
    <p><strong>Sold By:</strong> <br> <span th:text="${username}"></span></p>

    <div th:if="${canEdit}">
        <form th:action="@{/listing/{id}/edit(id=${listing.id})}" method="get">
            <button type="submit">Edit Listing</button>
        </form>
    </div>
    <div th:if="${canDelete}">
        <form th:action="@{/listing/{id}/delete(id=${listing.id})}" method="post" onsubmit="confirmDeletion(event)">
            <button type="submit">Delete Listing</button>
        </form>
    </div>

    <br><br>

    <a th:href="@{/}">Back to Homepage</a>

</div>
</body>
</html>
