<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form th:action="@{/login}" method="post">
        <label>
            Username
            <input type="text" name="username" placeholder="username" required autofocus>
        </label>
        <label>
            Password
            <input type="password" name="password" placeholder="password.." required>
        </label>
        <label>
            Remember me
            <input type="checkbox" name="remember-me">
        </label>

        <button type="submit">Login</button>

        <div th:if="${param.error}" >
            <p>
                [[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
            </p>
        </div>

        <div th:if="${param.logout}" >
            <p>
                You have logged out
            </p>
        </div>

    </form>

</body>
</html>