<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<nav class="bg-white shadow-lg p-5">
    <div class="container mx-auto flex flex-col sm:flex-row space-y-2 justify-between items-center">
        <div class="text-xl font-bold text-gray-800">Marketplace</div>
        <div class="space-x-2">
            <a class="bg-gray-700 text-white px-4 py-2 rounded hover:bg-gray-500 transition-colors" th:href="@{/}">Home</a>
            <a sec:authorize="isAnonymous()" th:href="@{/login}"
               class="text-blue-600 hover:text-blue-800 transition-colors">Sign In</a>
            <a sec:authorize="isAnonymous()" th:href="@{/register}"
               class="text-blue-600 hover:text-blue-800 transition-colors">Create Account</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/upload}"
               class="bg-gray-700 text-white px-4 py-2 rounded hover:bg-gray-500 transition-colors">List an item</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}"
               class="bg-red-600 text-white hover:bg-red-800 px-4 py-2 rounded transition-colors">Sign Out</a>
        </div>
    </div>
</nav>

<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-8">Create account for free</h1>
    <form th:action="@{/register}" th:object="${userDTO}" method="post">
        <div class="space-y-6">
            <div>
                <label class="text-lg font-semibold mb-2">
                    First Name
                </label> <br>
                <input
                        type="text"
                        name="firstName"
                        th:field="*{firstName}"
                        class="border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-transparent">
            </div>
            <div>
                <label class="text-lg font-semibold mb-2">
                    Last Name
                </label> <br>
                <input
                        type="text"
                        name="lastName"
                        th:field="*{lastName}"
                        class="border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-transparent">
            </div>
            <div>
                <label class="text-lg font-semibold mb-2">
                    Username
                </label> <br>
                <input
                        type="text"
                        name="username"
                        th:field="*{username}"
                        class="border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-transparent">
            </div>

            <div th:if="${usernameError}" th:text="${usernameError}" class="error"></div>

            <div>
                <label class="text-lg font-semibold mb-2">
                    Password
                </label> <br>
                <input
                        type="password"
                        name="password"
                        th:field="*{password}"
                        class="border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-transparent">
            </div>
            <div>
                <label class="text-lg font-semibold mb-2">
                    Email
                </label> <br>
                <input
                        type="email"
                        name="email"
                        th:field="*{email}"
                        class="border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-transparent">
            </div>

            <button
                    class="bg-gray-700 text-white px-4 py-2 rounded hover:bg-gray-500 transition-colors"
                    type="submit">
                Register
            </button>

        </div>
    </form>
</div>
</body>
</html>