<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Create account for free</h1>
<form th:action="@{/register}" th:object="${userDTO}" method="post">
    <label>
        First Name <br>
        <input type="text" name="firstName" th:field="*{firstName}">
    </label> <br><br>
    <label>
        Last Name <br>
        <input type="text" name="lastName" th:field="*{lastName}">
    </label> <br><br>
    <label>
        Username <br>
        <input type="text" name="username" th:field="*{username}">
    </label> <br><br>
    <div th:if="${usernameError}" th:text="${usernameError}" class="error"></div>

    <label>
        Password <br>
        <input type="password" name="password" th:field="*{password}">
    </label> <br><br>
    <label>
        Email <br>
        <input type="email" name="email" th:field="*{email}">
    </label> <br><br>

    <button type="submit">Register</button>

    <br><br>

    <a th:href="@{/}">Back to Homepage</a>

</form>
</body>
</html>