<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Advertisement</title>
</head>
<body>
<h1>Create Advertisement</h1>
<form action="/advertisement/add" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <label>
        First Name:
        <input type="text" name="firstName" required>
    </label>
    <label>
        Last Name:
        <input type="text" name="lastName" required>
    </label>
    <label>
        Title:
        <input type="text" name="title" required>
    </label>
    <label>
        Price:
        <input type="number" name="price" required>
    </label>
    <label>
        Description:
        <textarea name="description" required></textarea>
    </label>
    <label>
        Upload Image:
        <input type="file" name="file" accept="image/*" required>
    </label>
    <button type="submit">Create Advertisement</button>
</form>

</body>
</html>
