<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload Image</title>
</head>
<body>
<h1>Upload an Image</h1>
<form th:action="@{/upload}" method="post" enctype="multipart/form-data">
    <label>
        First Name:
        <input type="text" name="firstName" required>
    </label>
    <label>
        Last Name:
        <input type="text" name="lastName" required>
    </label>
    <label>
        Description:
        <textarea name="description" required></textarea>
    </label>
    <label>
        Choose an image:
        <input type="file" name="file" required>
    </label>
    <button type="submit">Upload</button>
</form>

</body>
</html>

